nav li {
   display: inline-block;
   list-style-type: none;
   position: relative;
}

nav li ul {
   display: none;
   position: absolute;
   width: 100px;
   left: 0;
   top: 100%;
   margin: 0;
   padding: 0;
}

nav li:hover > ul {
   display: block;
}



.browsebg{
    position: absolute;
    background-color: black;
    width: 100%;
    height: fit-content
}

a {
    text-decoration: none;
    text-decoration-color: transparent;;
}

.browsebanner{
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 900px;
    zoom: 110%;
    z-index: 4;
}

.browsenav{
    padding-top: 5px;
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    z-index: 10;
}

.scrolling {
    background: black;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-transition: all .7s ease-in;
    -o-transition: all .7s ease-in;
    -webkit-transition: all .7s ease-in;
    transition: all .7s ease-in;
}

.browselogo{
    width: 110px;
    height: auto;
    margin-top: -2px;
    margin-right: 12px;
    cursor: pointer;
}

.browsenavright{
    display: flex;
    justify-content: right;   
}

.browsenavlinkshome{
    color: #ffffff;
    font-size: 14.22px; 
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: bold;
    font-family: Arial;
    margin-top: 2px;
}

.browsenavlinks{
    color: #e5e5e5;
    font-size: 14.22px;
    font-family: Arial;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
}

.browsenavleft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.searchicon{
    color: white;
    display: flex;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 14px;
    padding-right: 30px;
    padding-bottom: 35px;;
}

.downarrow{
    padding-right: 15px;
    margin-top: 25px;
    margin-right: 60px;
    color: white;
    size: 8px;
}

.signout{
    background-color: black;
    color: white;
    width: 88px;
    border-radius: 4px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.browselogout{
    background-color:red;
    opacity: .9;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    font-family: Arial;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.carousel {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; 
    background-color: black;
}

.carousel2 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; 
    background-color: black;
}

.carousel3 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; 
    background-color: black;
}

.carousel4 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; 
    background-color: black;
}

#scary{
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    background-color: black;
    width: 100%;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 20px;
}

#search{
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    background-color: black;
    width: 100%;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 20px;
}

#search:hover{
     transform: scale(1.0);
     transition: transform .25s;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: center;
    overflow: hidden;
}

#indie {
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    background-color: black;
    width: 100%;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 20px;
}

#comedy {
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    background-color: black;
    width: 100%;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 20px;
}

#adventure {
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    background-color: black;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 20px;
}

#movie {
    border-radius: 10px;
    height: 190px;
    width: 350px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    color: transparent;
    background-color:  #333333;
}


#arrow {
    visibility: hidden;
    height: 40px;
    color: white;
    position: absolute;
}

#movie:hover {
    
     transform: scale(1.0);
     transition: transform .25s;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: center;
    overflow: hidden;
  
   
    
    
}

.playbutton{
    color: black;
    vertical-align: middle;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 106px;
    height: 39px;
    background-color: #ffffff;
    position: absolute;
    justify-content: center;
    margin-top: 500px;
    margin-left: 5.85%;
    border: none;
    border-radius: 4px;
    text-align: center; 
}

.playbuttonmodal{
    color: black;
    vertical-align: middle;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 106px;
    height: 39px;
    background-color: #ffffff;
    position: absolute;
    justify-content: center;
    margin-top: 31vh;
    margin-left: 3.85%;
    border: none;
    border-radius: 4px;
    text-align: center; 
    z-index: 400;
}

.playbutton:hover{
    opacity: .3;
    cursor: pointer;
}

.playicon{
    margin-top:4px;
    margin-bottom: -3px;
    padding-right: 2px;
}

.logoutbg{
    background-color:rgba(0,0,0,0.3);
    width: 90px;
    height: 120px;
    align-self: right;
    padding: 10px;
    border: 1px solid grey;
}

.logouttxt{
    padding-bottom: 2px;
    a{
    color: white;
    font-family: Arial;
    font-size: 15px;
    }
    a:hover{
        background-color: gray;
    }
}

.browsefooter{
    background-color: black;
    color: #757575;
    width: 100%;
    position: relative;
    height: 8rem;
    bottom: 0; 
    background-color: black;
    margin-bottom: 15px;
}

.browsefootertop{
    color: #757575;
    font-family: Arial;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 100px;
    margin-left: 25.35%;
    background-color: black;
}

.searchfooter{
    background-color: black;
    color: #757575;
    width: 100%;
    position: relative;
    height: 8rem;
    bottom: 0; 
    background-color: black;
}

.searchfootertop{
    color: #757575;
    font-family: Arial;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 100px;
    margin-left: 25.35%;
    background-color: black;
}

.browsefooteritems1{
    margin-left: 25%;
}

.browsefooteritems{
    margin-left: 1%;
}

.browseicons{
    height: 35px;
    width: 35px;
}

hr{
    border:1px solid gray;
    opacity: .4;
    border-width: 1px;
}

.genretitle{
    color: #E5E5E5;
    margin-left: 10px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#scroller {
    position: relative;
    visibility: hidden;
}



#prev {
display: inline-block;
    position: absolute;
    left: -3px;
    font-size: 72px;
    height: 20px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 2;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
    visibility: hidden;
}

.carousel:hover{
    #prev{
        visibility: visible;
    }
    #next{
        visibility: visible;
    }
}

.carousel2:hover{
    #prev2{
        visibility: visible;
    }
    #next2{
        visibility: visible;
    }
}

.carousel3:hover{
    #prev3{
        visibility: visible;
    }
    #next3{
        visibility: visible;
    }
}

.carousel4:hover{
    #prev4{
        visibility: visible;
    }
    #next4{
        visibility: visible;
    }
}

#prev:hover{
     background-color: black;
    opacity: .5;
    border-radius: .3;
}

#next {
    display: inline-block;
    position: absolute;
    right: -7px;
    font-size: 72px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;

}

#next:hover{
    background-color: black;
    opacity: .5;
    border-radius: .3;
}


#prev2 {
display: inline-block;
    position: absolute;
    left: -3px;
    font-size: 72px;
    height: 20px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
}

#prev2:hover{
     background-color: black;
    opacity: .5;
    border-radius: .3;
}

#next2 {
      display: inline-block;
    position: absolute;
    right: -7px;
    font-size: 72px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
}

#next2:hover{
    background-color: black;
    opacity: .5;
    border-radius: .3;
}

#prev3 {
display: inline-block;
    position: absolute;
    left: -3px;
    font-size: 72px;
    height: 20px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
}

#prev3:hover{
     background-color: black;
    opacity: .5;
    border-radius: .3;
}

#next3 {
     display: inline-block;
    position: absolute;
    right: -7px;
    font-size: 72px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
}

#next3:hover{
    background-color: black;
    opacity: .5;
    border-radius: .3;
}

#prev4 {
display: inline-block;
    position: absolute;
    left: -3px;
    font-size: 72px;
    height: 20px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
}

#prev4:hover{
     background-color: black;
    opacity: .5;
    border-radius: .3;
}

#next4{
    display: inline-block;
    position: absolute;
    right: -7px;
    font-size: 72px;
    cursor: pointer;
    top: 10px;
    color: #E5E5E5;
    z-index: 1;
    height: 200px;
    background-color: transparent;
    border: hidden;
    outline: none;
   
}

#next4:hover{
    background-color: black;
    opacity: .5;
    border-radius: .3;
}

.modal-background{
    position: fixed;
    vertical-align: baseline;
    height: 100%;
    width:100%;
    top: 3px;
    display: block;
        display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-child{
    width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
       display: flex;
    align-items: center;
}

.modal{

    margin: auto;
    border-radius: 5px;
    background: #191919;
    transform: translateX(-100px);
    width: 800px;
    color: white;
    background-image: linear-gradient(to bottom, gray 0%, transparent 100%);
    img{
        width: 800px;
        position:relative;
        height:36vh;
        border-radius: 5px;
        background: linear-gradient(to bottom, black, transparent);
    }
    color:white;
}

.detailscont{
    height: 100%;
    width: 30%;
    padding: 26px 0 20px 34px;
    display: flex;
    flex-direction: column;
}



.details{
    display: flex; 
    margin-right: 1vw;
    margin-top: 0.3vw;
    font-size: 18px;

}

.rating-modal{
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    border: 1px solid white;
    margin-right: 3vw;
    margin-top: 0.3vw;
}

.ratingdetails {
    display: flex;
    margin-right: 3px;
    padding-bottom: 12px;
    margin-top: -21px;
}

.poster{
    overflow: hidden;
}

.description{
    display: inline-block;
    width: 700px;
    font-size: 18px;
}