.filmshowbg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #333333;
    width: 100%;
    height: 100vh;
    > a {
        position: absolute;
        z-index: 1;
    }
}

.playback{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.backbutton{
    color: white;
    font-size: 100px;
    padding-top: 30px;
    float: left;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.hidden {
    opacity: 0;
}

.rating{
    text-align: center;
    color: white;
    font-size: 27px;
    padding-top: 15px;
}