.container {
    height: 50vh;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.65);
}

.backgroundlogin{
    background-image: image-url(bannerlogin);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black;
}

.white {
    color:white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 6vh;
    margin-left: 50px;
    font-weight: bold;
}

.login-email{
    margin-top: 4.1vh;
    margin-left: 50px;
    border-radius: 4px;
    padding-left: 25px;
    border: none;
    background-color: rgba(55, 55, 55, 1.0);
    height: 4vh;
    width: 285px;
    font-size: 16px;
    color: white;
}

.login-pw{
    margin-top: 15px;;
    margin-left: 50px;
    border-radius: 4px;
    padding-left: 25px;
    border: none;
    background-color: rgba(55, 55, 55, 1.0);
    height: 4vh;
    width: 285px;
    font-size: 16px;
    color: white;
}

.login-button{
    margin-top: 20px;;
    margin-left: 50px;
    border-radius: 4px;
    border: none;
    background-color: red;
    height: 3.9vh;
    width: 310px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.login-button:hover{
    cursor: pointer;
}

.errors li{
       color: #e87c03;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 6px;
    margin-bottom: -19px;
    margin-left: 10%;
    margin-right: 6%;
    padding: 9px 7px;
}

.loginfooter{
    background-color: rgba($color: #000000, $alpha: .7);
    height: 125px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.loginfootertop{
    color: #757575;
    font-family: Arial;
    font-size: 16px;
    padding: 0;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 12.4%;
    margin-bottom: 5px;
}

.loginfooteritems{
   
    color: #757575;
    font-size: 13px;
    font-family: Arial;
    display: inline;
    padding: 10px;
    margin-left:12%;
    list-style-type: none;
    line-height: 4em;
}

.loginfooteritems2{
    color: #757575;
    font-size: 13px;
    font-family: Arial;
    display: inline;
    padding: 10px;
    margin-left:12%;
    list-style-type: none;
    line-height: 4em;
}

.loginfooteritems3{
    color: #757575;
    font-size: 13px;
    font-family: Arial;
    display: inline;
    padding: 10px;
    margin-left:8%;
    list-style-type: none;
    line-height: 4em;
}

.loginfooteritems4{
    color: #757575;
    font-size: 13px;
    font-family: Arial;
    display: inline;
    padding: 10px;
    margin-left:4.5%;
    list-style-type: none;
    line-height: 4em;
}

.newtowebfilms{
    color: #757575;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    margin-left: -72px;
    margin-top: 2vh;
}

.newtowebfilmslink{
    color: white;
    text-decoration: none;
}

 .general-errors-login {
    position: absolute;
    justify-content: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: #e87c03;
    padding-top: 12px;
    text-align: center;
    margin-top: 8px;
    margin-left: 50px;
    height: 30px;
    width: 312px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}